---
import DefaultLayout from '../layouts/DefaultLayout.astro';
import Hero from '../components/index/Hero.astro';
import Menu from '../components/header/Menu.astro';

const title = "Victor eno";
const description = "my personal portfolio"
---

<DefaultLayout title={title} description={description}>
    <div class="main-container">
        <div class="hero">
            <Hero />
        </div>
    </div>
</DefaultlLayout>

<style>
	
</style>
