---
import DefaultLayout from '../layouts/DefaultLayout.astro';
import PseudoHero from '../components/PseudoHero.astro';

const title = "Victor eno";
const description = "my personal portfolio"
---

<DefaultLayout title={title} description={description}>
    <div class="main-container">
        <div class="hero">
            <PseudoHero />
        </div>
    </div>
</DefaultlLayout>

<style>
	
</style>
