---

---

<div class="name">
    <div class="category">Name</div>
    <div class="data">Victor Eno™, 2023 </div>
</div>

<style>
    .name {
        display: flex;
        flex-direction: row;
        padding: 0.3em;
        margin: 0;
        font-family: Poppins;
        text-transform: uppercase;
        line-height: 1.1em;
        background-color: transparent;
    }
    .category {
        font-weight: 500; 
        color:  rgb(244, 73, 73);
        padding-right: 1em;
    }
    .data {
        font-size: 1em;
        font-weight: 300;
        color: black;
    } 
    @media screen and (max-width: 800px)  {
        .name {
        display: flex;
        flex-direction: row;
        padding: 0.5em;
        margin: 0;
        font-family: Poppins;
        text-transform: uppercase;
        line-height: 1em;
        background-color: transparent;
    }
    }
</style>