---

---

<div class="links">
    <div class="category">contacts</div>
    <div class="data"><a href="/">Github</a>&nbsp;<a href="/about">LinkedIn</a>&nbsp;<a href="/projects">Email</a></div>
</div>

<style>
    .links {
        display: flex;
        flex-direction: column;
        padding: 0.3em;
        margin: 0;
        font-family: Poppins;
        line-height: 1.1em;
        background-color: transparent;
    }
    .category {
        font-weight: 400; 
        font-size: 1em;
        color:  var(--moody-night);
        text-transform: uppercase;
        padding-right: 1em;
    }
    .data {
        font-size: 0.8em;
        font-weight: 300;
        color: black;
        text-transform: capitalize;
    } 
    a {
        list-style: none;
		text-decoration: none;
		color: black;
	}
    a:hover {
        border-bottom: 1px solid black;
    }
    @media (max-width: 800px) {
        .links {
            display: none;
        }
    }
</style>