---
import GithubLink from "./GithubLink.astro";
import Name from "./Name.astro";
import Links from "./Links.astro"
import SiteMap from "./SiteMap.astro";
import Status from "./Status.astro";
---

<header>
  <div>
    <Name />
    <Status />
    <SiteMap />
    <Links />
  </div>
</header>

<style>
  header {
    position: absolute;
    width: 100%;
    padding: 2rem 4em;
    z-index: 5;
    border: 1px solid transparent;
  }

  div {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 4em;
    padding-bottom: 1em;
    border-bottom: 3px solid var(--moody-text);
    border-image-slice: 1;
    border-image-source: linear-gradient(115deg, #40444b, #f1f1f1, #40444b, #40444b,#f9f9f9);
  }
</style>
