---

---

<div class="status">
  <div class="category">Name</div>
  <div class="data">Victor eno</div>
</div>

<style>
  .status {
      display: flex;
      flex-direction: column;
      padding: 0.3em;
      margin: 0;
      font-family: Poppins;
      line-height: 1.1em;
      background-color: transparent;
  }
  .category {
      font-weight: 400; 
      font-size: 1em;
      color:  var(--moody-night);
      text-transform: uppercase;
      padding-right: 1em;
  }
  .data {
      font-size: 0.8em;
      font-weight: 300;
      color: black;
      text-transform: capitalize;
  } 
</style>