---

---

<div class="project-button">
    <a href="https://github.com/victor-eno">
      <span><slot>Selected works</slot></span>
    </a>
  </div>
  
  <style>
    .project-button {
      position: relative;
    }
  
    a {
      width: 300px;
      text-align: center;
      position: relative;
      border-radius: 6px;
      box-sizing: border-box;
      font-weight: bold;
      display: block;
      z-index: 2;
      overflow: hidden;
      padding: 3px;
      text-decoration: none;
    }
  
    a::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 200%;
      height: 100%;
      background: linear-gradient(115deg, #40444b, #f1f1f1, #40444b, #40444b,#f9f9f9);
      background-size: auto;
      background-size: 50% 100%;
      animation: rainbow-effect 1s linear infinite;
    }
  
    a:hover::before,
    a:focus::before {
      animation: rainbow-effect 1s linear infinite;
    }
  
    a:hover span,
    a:focus span {
      letter-spacing: 0.3em;
      font-size: 1.29rem;
    }
    
    span {
      position: relative;
      display: block;
      justify-content: center;
      justify-items: center;
      align-items: center;
      z-index: 2;
      padding: .875rem 1.5rem;
      font-size: 1.2rem;
      font-weight: 300;
      letter-spacing: 0.2em;
      color: var(--moody-night);
      background-color: white;
      border-radius: 3px;
      box-sizing: border-box;
      height: 100%;
      transition: letter-spacing 0.3s ease;
    }
  
    @keyframes rainbow-effect {
      to {
        transform: translateX(-50%);
      }
    }
  </style>
  